* {
  margin: 0;
  padding: 0;
}

.all {
  width: 100%;
}

.all ul {
  width: 100%;
}

.all ul li {
  width: 100%;
  margin-top: 20px;
  display: flex;
  color: #666666;
}

.all ul li div {
  height: 40px;
  width: 10%;
  text-align: right;
  line-height: 40px;
}

.all ul li input {
  width: 25%;
  height: 40px;
  margin-left: 50px;
  border: 1px solid #ccc;
  color: #666666;
}

.all ul li select {
  width: 10%;
  height: 40px;
  margin-left: 50px;
  border: 1px solid #ccc;
  color: #666666;
}

.all ul li textarea {
  width: 35%;
  height: 150px;
  margin-left: 50px;
  color: #666666;
  border: 1px solid #ccc;
}
