* {
  margin: 0;
  padding: 0;
}

.main_table {
  border-color: grey;
  box-sizing: border-box;
  text-indent: initial;
}

table {
  width: 80%;
  background-color: #fff;
  color: #666;
  margin: 20px 5%;
  border-collapse: collapse;
  border-spacing: 0;
}

table tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table tbody tr td {
  display: table-cell;
  vertical-align: inherit;
  position: relative;
  padding: 9px 15px;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #cccccc;
}

table tbody tr th {
  display: table-cell;
  vertical-align: inherit;
  position: relative;
  padding: 9px 15px;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #cccccc;
}

.printDis {
  border-top: 0;
  border-bottom: 0;
}

.printDis .right {
  text-align: right;
}

.printDis span {
  float: left;
  width: 50%;
  font-size: 16px;
  color: #333;
  line-height: 40px;
}

.printName {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0;
  color: #333;
  border-bottom: 0;
  min-height: 20px;
  line-height: 20px;
}

.bottom_span {
  padding: 18px;
}

.bottom_span span {
  width: 50%;
  font-size: 16px;
  float: left;
}

.bottom_right {
  width: 50%;
  border-top: 0;
  border-bottom: 0;
  text-align: right;
}

.btn1 {
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  background-color: #009688;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px 20px;
}
