*{
    margin: 0;
    padding: 0;
}
.all{
    width: 100%;
    margin-left: -5%;
}
table{
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    color: #666;
    margin: 20px auto;
}
table>thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table>thead>tr{
    background-color: #f2f2f2;
}
table>thead>tr>th{
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}
table>tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table>tbody>tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table>tbody>tr>td{
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}